<b>
  Hola,
  <%= @resource.detail.first_names %>
  <%= @resource.detail.last_names %>
</b>

<p>Alguien ha solicitado cambiar tu contraseña en el sistema. Si has sido tú, haz click en el enlace de abajo para continuar con el proceso.</p>

<p><%= link_to "Cambiar mi contraseña", root_url(anchor: "/password/edit?reset_password_token=#{@token}") %></p>

<p>Si tú no lo hiciste, por favor ignora este correo.</p>
<p>Tu contraseña no cambiará hasta que accedas al link de arriba y la cambies manualmente.</p>
