<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "layouts/partials/head" %>
  </head>

  <body>
    <section id="app" class="authentication">
      <component-layout-navbar></component-layout-navbar>
      <component-layout-notification></component-layout-notification>
      <component-layout-footer></component-layout-footer>
      <router-view></router-view>
    </section>
    <%= yield %>
  </body>
</html>
